---
layout: base
---

{% assign author = site.data.authors[page.author] | default:site.data.authors.first[1] | default:site.author %}

<article class="page" role="article">
  <header>
  	{% if author.picture %}
    	{% include srcset-img.html class="me" img=author.picture alt=author.name %}
  	{% endif %}
    <h1 class="page-title">{{ page.title | default:"Home"}}</h1>
    {% include message.html text=page.description %}
  </header>

  {{ author.about | markdownify }}

  {{ content }}
</article>

{% include advertisements.html %}
